*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide{
  margin: 0 !important;
}
.slick-list{
  margin: 0 !important;
}

.carousel {
  position: relative;
}

.carousel-slide {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

.slick-slider-item {
  margin: 0;
}